

footer{
    background-color: #000000;
    padding: 1.6rem;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.image-container {
    width: 10rem;
    height: 100%;
}
  
.image-container img {
    max-width: 100%;
    max-height: 100%;
}
  
.social-icons {
    display: flex;
    gap: 1.2rem;
    align-items: center; /* Para evitar que ese icono de Youtube comparta el eje horizontal con los otros y no salga mas alto */
}
  
.social-icons a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #000;
}
.social-icons a img {
    display: inline-block;
    width: 2rem;
    height: 100%;
    color: #000;
}

.text-container{
    display: flex;

}

footer p {
    color: #FFFFFF;
    margin: 0.3rem;
    font-weight: bold;
    font-style: italic;
}
  